<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>Storybook.io</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@900&family=Ubuntu:wght@400;700&display=swap" rel="stylesheet" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous" />
  <link rel="stylesheet" href=/css/styles.css />
  <script src="https://kit.fontawesome.com/6bfc7e317c.js" crossorigin="anonymous"></script>
</head>
<!-- <body> -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
  <!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>Storybook.io</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@900&family=Ubuntu:wght@400;700&display=swap" rel="stylesheet" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous" />
  <link rel="stylesheet" href="public/styles.css" />
  <script src="https://kit.fontawesome.com/6bfc7e317c.js" crossorigin="anonymous"></script>
</head>
<body>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
  <section id="title">
    <div class="container-fluid">
      <nav class="navbar navbar-expand-lg navbar-dark">
        <a class="navbar-brand">StoryBook.io</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item"><a class="nav-link" href="#footer"> Contact </a></li>
            <li class="nav-item"><a class="nav-link" href="#pricing"> Pricing </a></li>
            <li class="nav-item"><a class="nav-link" href="#cta"> Download </a></li>
          </ul>
        </div>
      </nav>
      <div class="row">
        <h1>Welcome to the Interactive Story Builder</h1>
        <div class="col-lg-6 col-md-12">
          <form action="/storychoicebuilder" method="GET">
            <button type="submit" class="btn btn-dark btn-lg download-button">Demo</button>
            <p>Try it for Free!</p>
          </form>
          
        </div>
        <div class="col-lg-6 col-md-12">
          <img class="title-image" src="/images/book.png" alt="st-logo" />
        </div>
      </div>
    </div>
  </section>







    <!-- Features -->

    <section id="features">
      <div class="row row-two">
        <div class="col-lg-4 col-md-12 collum-features">
          <i class="fa-solid fa-circle-check icons fa-4x"></i>
          <h3 class="app-features">Explore Magical Stories".</h3>
          <p class="feature-desc">Welcome to our enchanting storybook world where every tale is a new adventure!</p>
        </div>
        <div class="col-lg-4 col-md-12 collum-features">
          <i class="fa-solid fa-bullseye icons fa-4x"></i>
          <h3 class="app-features">Interactive Story Adventure </h3>
          <p class="feature-desc">With our AI-crafted stories, kids can dive into exciting journeys and make choices that shape the story.</p>
        </div>
        <div class="col-lg-4 col-md-12 collum-features">
          <i class="fa-solid fa-heart icons fa-4x"></i>
          <h3 class="app-features">Choose your Own Adventure</h3>
          <p class="feature-desc">
            Tailored for k-3, our stories let children decide what happens next, creating a personalized adventure every time.
          </p>
        </div>
      </div>
    </section>

    <!-- Testimonials -->

    <section id="testimonials">
      <div
        id="carouselExampleSlidesOnly"
        class="carousel slide"
        data-bs-ride="carousel"
      >
        <div class="carousel-inner">
          <div class="carousel-item active">
            <h2>
              "My kids absolutely love this storybook! It's fun, educational, and keeps them engaged for hours. Highly recommended!" 
            </h2>
            <img
              class="testimonials-image"
              src="/images/dog-img.jpg"
              alt="dog-profile"
            />
            <em>- Pebbles, New York</em>
          </div>
          <div class="carousel-item">
            <h2 class="testimonial-text">
              "Finally, an interactive book that my children can enjoy and learn from. They can't wait to see what happens next in the story!"

            </h2>
            <img
              class="testimonials-image"
              src="/images/orangutan.jpeg"
              alt="lady-profile"
            />
            <em>- Bono, Illinois</em>
          </div>
        </div>
        <button
          class="carousel-control-prev"
          type="button"
          data-bs-target="#carouselExampleSlidesOnly"
          data-bs-slide="prev"
        >
          <span class="carousel-control-prev-icon"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button
          class="carousel-control-next"
          type="button"
          data-bs-target="#carouselExampleSlidesOnly"
          data-bs-slide="next"
        >
          <span class="carousel-control-next-icon"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </section>

    <!-- Press -->

    <section id="press">
      <img class="press-logos" src="/images/techcrunch.png" alt="tc-logo" />
      <img class="press-logos" src="/images/tnw.png" alt="tnw-logo" />
      <img
        class="press-logos"
        src="/images/bizinsider.png"
        alt="biz-insider-logo"
      />
      <img class="press-logos" src="/images/mashable.png" alt="mashable-logo" />
    </section>

    <!-- Pricing -->

    <section id="pricing">
      <h2>A plan for Everyones</h2>
      <p>Simple and affordable price plans for your and your kid.</p>

      <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
        <div class="pricing-column col-lg-4 col-md-6 col-sm-12">
          <div class="card">
            <div class="card-header"><h3>Basic</h3></div>
            <div class="card-body">
              <h2>Free</h2>
              <p>1 books Per Day</p>
              <p>10 Messages Per Day</p>
              <p></p>
              <div class="d-grid gap-2">
                <button type="button" class="btn btn-lg btn-outline-dark">
                  Sign Up
                </button>
              </div>
            </div>
          </div>
        </div>

        <div class="pricing-column col-lg-4 col-md-6 col-sm-12">
          <div class="card">
            <div class="card-header"><h3>Basic+</h3></div>
            <div class="card-body">
              <h2>$5.99 / mo</h2>
              <p>Unlimited Books</p>
              <p>PDF downloads</p>
              
              <div class="d-grid gap-2">
                <button type="button" class="btn btn-dark btn-lg">
                  Sign Up
                </button>
              </div>
            </div>
          </div>
        </div>

        <div class="pricing-column col-lg-4 col-md-12">
          <div class="card">
            <div class="card-header"><h3>Premium</h3></div>
            <div class="card-body">
              <h2>$10.99 / mo</h2>
              <p>Unlimited books </p>
              <p>PDF downloads</p>
              <p>1 printout per month</p>
              <p></p>
              <div class="d-grid gap-2">
                <button type="button" class="btn btn-dark btn-lg">
                  Sign Up
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Call to Action -->

    <section id="cta">
      <h3>Your next Adventure Awaits!</h3>
      <button type="bottom-button" class="btn btn-dark btn-lg download-button">
        <i class="fa-brands fa-apple"></i> Download
      </button>
      <button type="bottom-button" class="btn btn-outline-light btn-lg">
        <i class="fa-brands fa-google-play"></i>
        Download
      </button>
    </div>
    </section>

    <!-- Footer -->

    <footer id="footer">
      <button type="button" class="btn">
        <i class="fa-brands fa-twitter"></i>
      </button>
      <button type="button" class="btn">
        <i class="fa-brands fa-facebook"></i>      </button>
      <button type="button" class="btn ">
        <i class="fa-brands fa-instagram"></i>      </button>
      <button type="button" class="btn">
        <i class="fa-solid fa-envelope"></i>      </button>
      <p class="copyright"> © Copyright Storybook.io</p>
    </footer>
  </body>
</html>
