#title {
    background-color: #a8dadc;  
    color: #f1faee; 
}

 .container-fluid {
    padding: 3% 15%; 
    
   }

body {
    font-family: "Ubuntu"; 
}
h1, h2, h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 3.5rem; 
    line-height: 1.5;
    font-weight: bold; 
   

}

p {
    color: grey; 
    font-weight: light; 
}
.navbar  {
    padding-bottom: 8rem; 
    color: #f1faee; 
}
.navbar-brand{
    font-family: 'Ubuntu'; 
    font-size: 2.5rem; 
    font-weight: bold; 

}
.nav-item {
    padding: 0 18px; 
}
.nav-link {
    font-size: 1.2rem; 
    font-family: 'Ubuntu';
    color: #05386b; 
}
/* Download buttons  */
.download-button {
    margin: 5% 3% 5% 0 
    

}
/* Title image  */
.title-image {
    width: 425px;
    color: #05386b;   
    position: absolute; 
    left: 50%; 
 
}

.row-two { 
   
    margin: auto; 
    width: 100%; 
    padding-top: 70px; 
    padding-bottom: 120px; 
    display: flex; 
}
.icons {
 color: #f1faee;
  
 padding-bottom: 20px; 
}
.icons:hover {
    color: #0c5143; 
}
.app-features {
    font-family: 'montserrat';
    font-weight: bold; 
    
}
.collum-features {
    padding-top: 75px; 
    padding-bottom: 75px; 
    text-align: center; 
    color: #05386b; 
    font-family: "Montserrat"; 


}
.feature-desc {
 color: #0c5143; 
 font-family: 'montserrat';
}
#testimonials {
   background-color: #a8dadc;
   color:  #f1faee; 
   text-align: center;
   font-family: "Montserrat"; 

/* .testimonial-text {
    font-size: 3rem; 
    line-height: 1.5; 
} */
   
}
.carousel-item {
    padding: 7% 15%; 
}
.container-fluid {
    padding-bottom: 192px; 
}
.testimonials-image {
    width: 10%; 
    border-radius: 100%; 
    margin: 20px; 
}
#press {
    background-color: #a8dadc; 
    text-align: center; 
    padding: 3%; 
}
.press-logos {
    width: 15%; 
    margin: 20px 20px 50px; 

}
#pricing {
    padding: 100px; 
    text-align: center; 
    font-family: "Montserrat"; 

}
.pricing-column {
    padding: 3% 2%; 

}
@media (max-width: 1028px) {
    #title {
        text-align: center; 
    }
    .title-image {
        position: static; 

    }
}
#cta {
    text-align: center; 
    background-color: #a8dadc;  
    padding: 7% 15%; 
    
    color: #f1faee; 
}
.bottom-btn {
    padding-top: 40px; 
    margin: 5% 3% 5% 0 
}
#footer {
    padding: 7% 15%; 
    text-align: center; 
    background-color: #ffff; 
}
.copyright {
    padding-top: 20px; 
}