{% extends "base.html" %} {% block content %}
<form action="/storychoicebuilder" method="GET">
  <button class="back-button">Back</button>
</form>
<div id="book-container">
  <div id="book">
    <div id="story-container">
      <div id="story">{{ story }}</div>
    </div>
    <div id="choices-container">
      <button class="choice-button" onclick="makeChoice(1)">Choice 1</button>
      <button class="choice-button" onclick="makeChoice(2)">Choice 2</button>
      <button class="choice-button" onclick="makeChoice(3)">Choice 3</button>
    </div>
    <div id="reset-container">
      <button class="choice-button" onclick="resetStory()">
        Create New Story
      </button>
    </div>
  </div>
</div>
<script>
  function makeChoice(choice) {
    fetch("/continue_story", {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
      },
      body: JSON.stringify({ choice: choice }),
    })
      .then((response) => response.json())
      .then((data) => {
        document.getElementById("story").innerText = data.new_story;
      })
      .catch((error) => console.error("Error:", error));
  }

  function resetStory() {
    fetch("/reset_story", {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
      },
    })
      .then((response) => response.json())
      .then((data) => {
        document.getElementById("story").innerText = data.new_story;
      })
      .catch((error) => console.error("Error:", error));
  }
</script>
{% endblock %}
